.footer-main{
    background-color: #383838;
    color: aliceblue;
    text-align: center;
}

.footer{
    display: flex;
    background-color: #383838;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}


.links-pie{
    text-decoration: none;
    color: rgb(240, 240, 240);
    padding: 5px;
    display: flex;
}

.div-icons{
   padding: 10px;
   margin: 0px 0px 0px 60%;

}

.icon{
    margin: 0px 10px 0px 10px;
    font-size: 30px;
}

.link{
    color: rgb(0, 119, 255);
}

