#containerProduct{
    display: flex;
    flex-flow: row;
}
.card{
    background-color: gainsboro;
    margin: 5px;
    width: 200px;
}
.imageProduct{
    width: 200px;
    height: 200px;
}
.links{
    color: black;
    text-decoration: none;
    
    
}
.Agregar{
    height: 20px;
    width: 20px;
}
.Agregar:hover{
    color: green;
}
.datos{
    border: none;
    background: gainsboro;
}