.containerHome {
    background-image: url(https://static.vecteezy.com/system/resources/previews/003/031/836/non_2x/realistic-electronic-devices-and-gadgets-in-isometry-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh);
}

.text-content{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: auto;
    font-size: 30px;
}
