body{
    margin:0 11% ;
    background-color: darkgray;
}


.container{ 
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh);
}

h3{text-align: center;
    font-size: 35px;
    margin-top: 150px;
}